/* ANIMATIONS */
@keyframes background-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px -1354px;
  }
}


/* GENERAL */
.tab-content {
    display: none
}

.active.tab-content {
    display: block
}

body {
    background-image: url('images/background_2.png');
    margin: 0;
    color: black;
    font-family: monospace;
    animation: background-scroll 40s linear infinite;
}

h1, h2, p, ul{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: normal;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
    margin: 15px 0;
}


/* TAB SELECTOR */


#tab-selector {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 20%;
    padding: 0;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.tab:hover {
    background-color: #7e9fe0;
    border-color: #5876b0;
}

.active.tab {
    background-color: #6788c9;
    border-color: #5876b0;
}

.tab {
    padding: 16px 10%;
    background-color: #b1cafc;
    transition: background-color .5s ease;
    border: 4px solid #6788c9;
    border-radius: 4px;
}


/* TABS */


.tabs {
    background-color: #b1cafc;
    width: 60%;
    margin: 20px auto;
    padding: 5px;
    border: 4px solid #6788c9;
    border-radius: 4px;
}


/* ABOUT ME */


#profile-image {
    float: left;
    width: 27%;
    margin: 20px;
    border: 4px solid #6788c9;
    border-radius: 4px;
}

#name {
    font-size: 30px;
    margin: 70px 0 0 0;
}

#contact {
    margin: 55px 0 0 0;
}

.copyable:hover {
    cursor: pointer;
    font-size: 19px;
    font-weight: thin;
    transition: font-size 0.5s ease;
}

#project-summary {
    margin: 40px 0 0 0;
}

#project-summary-tabs {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px 0 0 0;
}

.project-summary-item {
    border: 4px solid #6788c9;
    border-radius: 4px;
    margin: 10px;
    width: 30%;
}

.project-summary-item p {
    font-size: 14px;
    padding: 5px;
}

.project-summary-item:hover {
    margin: 5px 10px 10px;
    transition: margin 0.5s ease;
    cursor: pointer;
}

.project-summary-gif {
    width: 90%;
    border-radius: 4px;
}


/* MUSIC */


#music p {
    margin: 20px 30px;
}

#music audio {
    display: block;
    margin: 20px auto;
    width: 90%;
}